# PostgreSQL DB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/live-pool

# Redis
REDIS_URL=redis://localhost:6379
DEDUPLICATION_TTL=86400

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672//
