# PostgreSQL DB
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/live-pool

# Redis
REDIS_URL=redis://localhost:6379

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672//

# Auth - Better Auth
BETTER_AUTH_SECRET=your-better-auth-secret
AUTH_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:3000

# OAuth - Twitch
TWITCH_CLIENT_ID=your-twitch-client-id
TWITCH_CLIENT_SECRET=your-twitch-client-secret

# OAuth - Kick
KICK_CLIENT_ID=your-kick-client-id
KICK_CLIENT_SECRET=your-kick-client-secret



